[submodule "workflow_filterdata/scripts/mosesdecoder"]
	path = workflow_filterdata/scripts/mosesdecoder
	url = https://github.com/moses-smt/mosesdecoder
[submodule "external/fairseq"]
	path = external/fairseq
	url = https://gitlab.com/gottbert/fairseq
